{% extends 'base.html' %}

{% block content %}
<div class="Polaris-Layout">
            
    <!-- Table 1 -->
  <div class="Polaris-Layout__Section Polaris-Layout__Section--oneThird">
    <div class="Polaris-Card">
      <div class="Polaris-Card__Header">
        <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
          <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
            <h2 class="Polaris-Heading" style="text-align:center">Basic</h2>
          </div>
          <div class="Polaris-Stack__Item">
              <!-- Button 1 -->
            <div class="Polaris-ButtonGroup">
                <img src="https://elfsight.com/assets/pricing-table/example-grid-1.jpg" alt="image1" width="97%" >
            </div>
          </div>
        </div>
      </div>
      <div class="Polaris-Card__Section">
        <span class="Polaris-TextStyle--variationSubdued" style="text-align:center">
          <p style="text-align: center;">Ideal for a small website/blog</p>
        </span>
      </div>
      <!-- Section 2 -->
      <div class="Polaris-Card__Section">
        <div class="Polaris-Card__SectionHeader">
          <h3 aria-label="Items" class="Polaris-Subheading" style="text-align: center;">Unlimited Websites</h3>
        </div>
        <div class="Polaris-ResourceList__ResourceListWrapper">
          <ul class="Polaris-ResourceList" aria-live="polite" style="text-align: center;">
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/343"><a aria-describedby="343" aria-label="View details for Black &amp; orange scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay15" href="produdcts/343" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="343">
                    <div class="Polaris-ResourceItem__Owned">
                      
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">20GB SSD Storage
                      </span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/258"><a aria-describedby="258" aria-label="View details for Tucan scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay16" href="produdcts/258" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="258">
                    <div class="Polaris-ResourceItem__Owned">
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">5 Email Accounts</span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/258"><a aria-describedby="258" aria-label="View details for Tucan scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay16" href="produdcts/258" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="258">
                    <div class="Polaris-ResourceItem__Owned">
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">Unlimited Bandwidth</span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/258"><a aria-describedby="258" aria-label="View details for Tucan scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay16" href="produdcts/258" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="258">
                    <div class="Polaris-ResourceItem__Owned">
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">Free SSL</span></h3>
                    </div>
                  </div>
                </div>
              </div>
            
              
            </li>
            <li class="Polaris-ResourceItem__ListItem">
            <button class="Polaris-Button" type="button" style="margin-top: 3%;"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add product</span></span></button>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Table 2 -->
  <div class="Polaris-Layout__Section Polaris-Layout__Section--oneThird">
    <div class="Polaris-Card">
      <div class="Polaris-Card__Header">
        <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
          <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
            <h2 class="Polaris-Heading" style="text-align: center;">Standard</h2>
          </div>
          <div class="Polaris-Stack__Item">
              <!-- Button 2 -->
            <div class="Polaris-ButtonGroup">
                <img src="https://elfsight.com/assets/pricing-table/example-grid-2.jpg" alt="image1" width="97%" >
            </div>
          </div>
        </div>
      </div>
      <div class="Polaris-Card__Section"><span class="Polaris-TextStyle--variationSubdued"><p style="text-align:center">The best for high traffic websites</p></span></div>
      <div class="Polaris-Card__Section">
        <div class="Polaris-Card__SectionHeader">
          <h3 aria-label="Items" class="Polaris-Subheading" style="text-align: center;">1 Website</h3>
        </div>
        <div class="Polaris-ResourceList__ResourceListWrapper">
          <ul class="Polaris-ResourceList" aria-live="polite" style="text-align: center;">
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/343"><a aria-describedby="343" aria-label="View details for Black &amp; orange scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay15" href="produdcts/343" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="343">
                    <div class="Polaris-ResourceItem__Owned">
                      
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">20GB SSD Storage
                      </span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/258"><a aria-describedby="258" aria-label="View details for Tucan scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay16" href="produdcts/258" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="258">
                    <div class="Polaris-ResourceItem__Owned">
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">5 Email Accounts</span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/258"><a aria-describedby="258" aria-label="View details for Tucan scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay16" href="produdcts/258" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="258">
                    <div class="Polaris-ResourceItem__Owned">
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">Unlimited Bandwidth</span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/258"><a aria-describedby="258" aria-label="View details for Tucan scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay16" href="produdcts/258" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="258">
                    <div class="Polaris-ResourceItem__Owned">
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">Free SSL</span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <button class="Polaris-Button" type="button" style="margin-top: 3%;"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add product</span></span></button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Table 3 -->
  <div class="Polaris-Layout__Section Polaris-Layout__Section--oneThird">
    <div class="Polaris-Card">
      <div class="Polaris-Card__Header">
        <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
          <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
            <h2 class="Polaris-Heading" style="text-align:center;">Premium</h2>
          </div>
          <div class="Polaris-Stack__Item">
              <!-- Button 3 -->
            <div class="Polaris-ButtonGroup">
                <img src="https://elfsight.com/assets/pricing-table/example-grid-3.jpg" alt="image1" width="97%" >
            </div>
          </div>
        </div>
      </div>
      <div class="Polaris-Card__Section"><span class="Polaris-TextStyle--variationSubdued"><p style="text-align: center;">Perfect for a corporate website</p></span></div>
      <div class="Polaris-Card__Section">
        <div class="Polaris-Card__SectionHeader">
          <h3 aria-label="Items" class="Polaris-Subheading" style="text-align: center;">3 Websites</h3>
        </div>
        <div class="Polaris-ResourceList__ResourceListWrapper">
                          <ul class="Polaris-ResourceList" aria-live="polite" style="text-align: center;">
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/343"><a aria-describedby="343" aria-label="View details for Black &amp; orange scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay15" href="produdcts/343" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="343">
                    <div class="Polaris-ResourceItem__Owned">
                      
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">20GB SSD Storage
                      </span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/258"><a aria-describedby="258" aria-label="View details for Tucan scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay16" href="produdcts/258" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="258">
                    <div class="Polaris-ResourceItem__Owned">
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">5 Email Accounts</span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/258"><a aria-describedby="258" aria-label="View details for Tucan scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay16" href="produdcts/258" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="258">
                    <div class="Polaris-ResourceItem__Owned">
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">Unlimited Bandwidth</span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <div class="Polaris-ResourceItem__ItemWrapper">
                <div class="Polaris-ResourceItem" data-href="produdcts/258"><a aria-describedby="258" aria-label="View details for Tucan scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay16" href="produdcts/258" data-polaris-unstyled="true"></a>
                  <div class="Polaris-ResourceItem__Container" id="258">
                    <div class="Polaris-ResourceItem__Owned">
                    </div>
                    <div class="Polaris-ResourceItem__Content">
                      <h3 style="text-align: center;"><span class="Polaris-TextStyle--variationStrong">Free SSL</span></h3>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="Polaris-ResourceItem__ListItem">
              <button class="Polaris-Button" type="button" style="margin-top: 3%;"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add product</span></span></button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}